body {
  /*padding: 0;*/
  /*margin: 0;*/
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background-image: url(../img/bg-body.jpg);
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.rowcorner {
  width: 30px;
  height: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: .7;
}

.container {
   background-image: url(../img/ricepaper.png);
   border-left: 1px solid #336699;
   border-right: 1px solid #336699;
   /*width: 85%;*/
   margin: 0 auto;
   padding: 0 20px;
}

.header {
  width: 85%;
  margin: 0 auto;
  padding: 4px 20px;
}

.page-header {
  color: #fff;
  padding: 5rem 6rem;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.title-job {
   color: #336699;
}

.footer {
  height: 100px;
  padding-top: 15px;
  border-top: 1px solid #CCCCCC;
  background-color: #006699;
  color: #FFCC66;
  text-align: center;
}
